.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-main{
    display:flex;

}

.nav-main li{
    padding: 0 1rem;
}
.nav-main li a{
    font-size: 1.2rem;
    font-weight: 500;
}
.hamburger{
    display: none;
}

@media screen and (max-width: 1040px) {
    .nav-main{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:100%;
      height: 100vh;
      background:black;
      position:absolute;
      top: 0;
      left: -100%;
      z-index: -3;
    }
    .nav-main.open{
        left:0;
        

    }
    .nav-main li{
      padding: 1rem 0;
      font-size: 2rem;
    }
    .nav-main li a{
        font-size: 2rem;
    
      }
      .hamburger{
        display: initial;
      }
  
    
  }